@font-face {
    font-family: 'albert';
    src: url(./fonts/Albert_Sans/static/AlbertSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'albert';
    src: url(./fonts/Albert_Sans/static/AlbertSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'albert';
    src: url(./fonts/Albert_Sans/static/AlbertSans-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: black;
    width: 100%;
    height: 100%;
    font-size: 10px;
}

body {
    font-family: 'albert';
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none !important;
    font-size: 1.6rem !important;
}
