@font-face {
    font-family: 'albert';
    src: url(./fonts/Albert_Sans/static/AlbertSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'albert';
    src: url(./fonts/Albert_Sans/static/AlbertSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'albert';
    src: url(./fonts/Albert_Sans/static/AlbertSans-Regular.ttf);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: white;
    background: black;
    background: url("https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg") no-repeat center center / cover;
    width: 100%;
    height: 100%;

}

body {
    font-family: 'albert';
}

.container {
    max-width: 1320px;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    font-size: 1.6rem;
}

p {
    font-size: 1.6rem;
}

a {
    text-decoration: none !important;
    font-size: 1.6rem !important;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    background: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 10px;
}

.header a,
h2,
p {
    color: black;
}

.header__logo {
    font-size: 2.4rem;
}

.header__list {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.header__link {
    color: white;
    margin-left: 2rem;
    transition: 300ms;
    font-weight: 500;
}

.header__link:hover {
    color: blueviolet;
    text-shadow: 0 0px 0px 10px white;
}

.mySwiper {
    margin-top: 80px;
}

.swiper-slide {
    background: white;
    color: black;
    height: 30rem;
    display: grid;
    place-items: center;
}

.swiper {
    text-align: center;
    font-size: 1.6rem;
}